.footer {
    padding: 88px 0 78px;
    background: linear-gradient(
            0deg,
            rgba(204, 179, 143, 0.1),
            rgba(204, 179, 143, 0.1)
        ),
        #f7f2eb;
    @media (max-width: 950px) {
        padding: 48px 0 56px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        @media (max-width: 700px) {
            display: block;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        align-self: flex-start;
    }
    &__logo {
        flex: 0 0 186px;
        height: 53px;
        @media (max-width: 500px) {
            flex: 0 0 175px;
            height: 51px;
        }
        svg {
            max-width: 100%;
            width: 100%;
            height: 53px;
            object-fit: cover;
            @media (max-width: 500px) {
                height: 51px;
            }
        }
    }
    &__right {
        flex: 0 1 641px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1200px) {
            flex: 0 1 525px;
        }
        @media (max-width: 950px) {
            display: block;
            flex: 0 1 333px;
        }
    }
    &__menu {
        display: flex;
        flex: 0 0 260px;
        justify-content: space-between;
        @media (max-width: 950px) {
            justify-content: flex-start;
        }
        @media (max-width: 700px) {
            margin-top: 30px;
        }
        &-item {
            font-size: 16px;
            font-weight: 500;
            margin-top: 16px;
            transition: 0.3s;
            &:first-child {
                margin-top: 0;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        &:first-child {
            @media (max-width: 950px) {
                margin-right: 30px;
            }
            @media (max-width: 700px) {
                margin-right: 50px;
            }
        }
    }
    &__socials {
        display: flex;
        margin-top: 5px;
        align-items: center;
        @media (max-width: 950px) {
            justify-content: flex-start;
            margin-top: 55px;
        }
        @media (max-width: 700px) {
            margin-top: 32px;
        }
    }
    &__social {
        margin-left: 4px;
        transition: 0.3s;
        background-color: #fff;
        border-radius: 4px;
        height: 52px;
        width: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child {
            @media (max-width: 950px) {
                margin-left: 0;
            }
        }
        &:hover {
            background-color: var(--site-color);
        }
    }
    &__bottom {
        margin-top: 66px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: 950px) {
            margin-top: 55px;
        }
        @media (max-width: 700px) {
            display: block;
            margin-top: 30px;
        }
    }
    &__info {
        display: flex;
        align-items: flex-end;
        @media (max-width: 950px) {
            order: 1;
        }
        @media (max-width: 700px) {
            order: 0;
        }
        @media (max-width: 500px) {
            display: block;
        }
    }
    &__phone {
        margin-right: 44px;
        @media (max-width: 950px) {
            margin-right: 30px;
        }
        @media(max-width: 500px){
            margin-bottom: 15px;
        }
    }
    &__text {
        font-weight: 400;
        margin-bottom: 12px;
    }
    &__number {
        font-size: 16px;
        font-weight: 700;
        transition: 0.3s;
        &:hover {
            opacity: 0.8;
        }
    }
    &__mail {
        font-size: 16px;
        font-weight: 700;
        @media (max-width: 500px) {
            margin-top: 15px;
        }
    }
    &__cop {
        font-size: 16px;
        font-weight: 400;
        @media (max-width: 700px) {
            margin-top: 33px;
        }
    }
}
